.main 
     %footer.col-12.ng-cloak.animatedLong.fadeIn
          %ul.list-reset.center
               %li.inline-block
                    %a{:href => "http://soundcloud.com", :target => "_blank"}
                         %i.fa.fa-soundcloud
                         Powered by Soundcloud
