.main 
     %footer.col-12
          %ul.list-reset.center
               %li.inline-block.mr2
                    %a{:href => "/privacy"}
                         Privacy
               %li.inline-block.mr2
                    %a{:href => "/terms"}
                         Terms
               %li.inline-block
                    %a{:href => "http://soundcloud.com", :target => "_blank"}
                         %i.fa.fa-soundcloud
                         Powered by Soundcloud
