.audio-player-mobile.minimal-player.animated.fadeIn{'ng-controller' => 'AudioCtrl'}
     .audio-player__track-info.center.mt2.ng-cloak
          .audio-player__artist
               %p.m0.truncate(ng-bind="currentTrack.title")
          .audio-player__song.mt0
               %p.m0.grey.truncate(ng-bind="currentTrack.artist_description")
     .audio-player__controls.center.mt1.mb2
          .audio-player__volume.inline-block
               %i.fa.fa-volume-up(ng-click="show=!show")
          .audio-player__play.inline-block
               %a{href: "", "ng-click" => "PlayPauseClick()"}
                    %i.fa.fa-play.mx3.h1{"ng-class" => "{'fa-play': audio.state !== 'playing', 'fa-pause': audio.state !== 'stopped'}"}
          .audio-player__skip.inline-block
               %a{href: "", "ng-click" => "audio.PlayNextSong()"}
                    %i.fa.fa-forward
     #progress-bar
          #progress