.sidebar.clearfix
     .logo.col-3.mx-auto.mt4
          %a{href: "/"}
               %img.fit{alt: "Noon Pacific", src: "#{image_path("noonpacific.svg")}"}
     .sidebar__nav
          %ul.list-reset.center
               %li
                    %a{href: "/"}
                         mixtapes
               %li 
                    %a{href: "/collections"}
                         collections
               %li 
                    %a{href: "/sessions"}
                         sessions
               / %li 
               /      %a{href: "#"}
               /           events
               %li 
                    %a{href: "http://shop.noonpacific.com"}
                         shop
               %li 
                    %a{href: "/club"}
                         club
               %li 
                    %a{href: "/about"}
                         about
               %li.mt2
                    %a.inline-block.px1{href: ""}
                         %i.fa.fa-apple.open-apple-app
                    %a.inline-block.px1{href: ""}
                         %i.fa.fa-android.open-android-app


