%input#sidebar-toggle{:type => "checkbox"}
%label#sidebar-label{:for => "sidebar-toggle"}
     / %i.fa.fa-navicon
     %img{src: "#{image_path("hamburger.svg")}"}
#mobile-logo
     %a{href: "/"}
          %img.fit{alt: "Noon Pacific", src: "#{image_path("noonpacific.svg")}"}
