---
directory_index: false
---
<div class="main__mixtape clearfix">
  <div class="main__cover left animatedLong fadeIn">
    <img class="" ng-click="PlayPauseClick()" ng-src="{{mixService.CurrentMix.artwork_url}}" src="/img/grey.jpg"/>
    <div class="cover__description center" ng-controller="AudioCtrl">
      <h1 ng-bind="mixService.CurrentMix.title" class="mb0"></h1>
      <a href="" ng-click="PlayPauseClick()">
           <i class="fa fa-play my3" ng-class="{'fa-play': audio.state !== 'playing', 'fa-pause': audio.state !== 'stopped'}"></i>
      </a>
      <div ng-if="mixService.CurrentMix.artwork_credit != null" class="attribution">
            <p class="mt0">Cover by: <a href="{{mixService.CurrentMix.artwork_url}}" target="_blank"><span ng-bind="mixService.CurrentMix.artwork_credit"></span></a></p>
          </div>
    </div>
  </div>
  <div class="main__tracklist left">
    <ol>
      <li ng-repeat="track in mixService.CurrentMix.Tracks.array" ng-class="{true: 'current-track', false: ''}[track.id === mixService.PlayingTrackID]" class="animatedLong fadeIn">

        <div class="main__track-social" ng-show="track.id === mixService.PlayingTrackID">
          <div class="dropdown">
            <div class="dropdown-text" data-toggle="dropdown">
              <img src="/img/social.svg" alt="Share This Song"/>
            </div>
            <ul class="dropdown-content dropdown-menu">
              <div class="dropdown-arrow"></div>
              <li>
                <a href="{{fbFeed(track)}}" target="_blank" class="fb-share" alt="Share on Facebook">
                  <div class="clearfix">
                    <div class="left">
                      <i class="fa fa-facebook"></i>
                    </div>
                    <div class="overflow-hidden">
                      Share on Facebook
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="{{tweetSong(track)}}" target="_blank" alt="Share on Twitter">
                  <div class="clearfix">
                    <div class="left">
                      <i class="fa fa-twitter"></i>
                    </div>
                    <div class="overflow-hidden">
                      Share on Twitter
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="{{track.permalink_url}}" target="_blank" alt="Listen on Soundcloud">
                  <div class="clearfix">
                    <div class="left">
                      <i class="fa fa-soundcloud"></i>
                    </div>
                    <div class="overflow-hidden">
                      Listen on Soundcloud
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="{{amazonURL(track)}}" target="_blank" alt="Buy on Amazon">
                  <div class="clearfix">
                    <div class="left">
                      <i class="fa fa-amazon"></i>
                    </div>
                    <div class="overflow-hidden">
                      Buy on Amazon
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div href="" ng-click="PlayTrack(track)">
          <div class="main__track-info">
            <p class="song m0">{{track.title}}</p>
            <p class="artist m0">{{track.artist}}</p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
