---
directory_index: false
---
<div class="main__mixtape clearfix">
  <div class="main__cover left animatedLong fadeIn">
    <img class="" ng-click="PlayPauseClick()" ng-src="{{mixService.CurrentMix.artwork_url}}" src="/img/grey.jpg"/>
    <p class="shuffle">
        Shuffle:
        <span class="pointer" ng-class="{selected: mixService.Shuffle}" ng-click="Shuffle(true)">On</span> /
        <span class="pointer" ng-class="{selected: !mixService.Shuffle}" ng-click="Shuffle(false)">Off</span>
    </p>
  </div>
  <div class="main__tracklist left">
    <ol>
      <li ng-repeat="track in mixService.CurrentMix.Tracks.array" ng-class="{true: 'current-track', false: ''}[track.id === mixService.PlayingTrackID]" class="animatedLong fadeIn">
        <div href="" ng-click="PlayTrack(track)">
          <div class="main__track-info">
            <p class="song m0">{{track.title}}</p>
            <p class="artist m0">{{track.artist}}</p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
