@import "normalize"
@import "slider"
@import "animate"

$black: #333
$grey: #adadad
$white: #fff
$facebook: #3b5998
$twitter: #55acee
$soundcloud: #ff8800
$instagram: #3f729b
$amazon: #FF9900 
$spotify: #24CF5F

/************ FONTS *************/

@font-face
  font-family: "ApercuReg"
  src: url("../fonts/ApercuRegular.otf")
  font-style: normal
  font-weight: normal
  font-stretch: normal


@font-face
  font-family: "ApercuMed"
  src: url("../fonts/ApercuMedium.otf")
  font-style: normal
  font-weight: normal
  font-stretch: normal


@font-face
  font-family: "ApercuBold"
  src: url("../fonts/ApercuBold.otf")
  font-style: normal
  font-weight: bold
  font-stretch: normal


@font-face
  font-family: "ApercuItalic"
  src: url("../fonts/ApercuItalic.otf")
  font-style: normal
  font-weight: normal
  font-stretch: normal

/************ GLOBAL STYLES *************/
*
  box-sizing: border-box

html, body 
  height: 100%

html, button, input, select, textarea
  color: #333

body
  font-size: 1em
  line-height: 1.4
  font-family: ApercuReg, Arial, sans-serif
  font-size-adjust: 0.508
  font-weight: normal
  font-style: normal
  color: #333
  margin: 0 
  padding: 0

h1 
  font-family: ApercuBold, Arial, sans-serif
  font-size-adjust: 0.508
  font-weight: bold
  font-style: normal
  font-size: 2em

h3
  font-family: ApercuBold, Arial, sans-serif
  font-size-adjust: 0.5
  font-weight: normal
  font-style: normal
  font-size: 1em

p
  font-family: ApercuReg, Arial, sans-serif
  font-size-adjust: 0.508
  font-weight: normal
  font-style: normal

a 
  color: #000
  text-decoration: none
  transition: 0.3s all

::-moz-selection, ::selection
  background: #333
  text-shadow: none

.active 
  color: #333

.grey
  color: #adadad

.truncate 
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.btn
  text-decoration: none
  cursor: pointer
  display: inline-block
  padding: 10px 40px
  margin: 0
  width: 260px
  text-align: center
  height: auto
  border: 1px solid #333
  vertical-align: middle
  -webkit-appearance: none
  color: inherit
  background-color: #fff
  -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
  -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
  box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
  transition: 0.3s all
  -moz-transition: 0.3s all 
  -webkit-transition: 0.3s all 


  &:hover
    text-decoration: none
    -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
    -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
    box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
  &:focus
    outline: none

.btn-social 
  padding: 5px 20px
  width: 110px
  margin: 0 5px
  &.spotify 
    border-color: $spotify
    &:hover 
      background: $spotify
      border-color: $spotify
      color: #fff
  &.twitter 
    border-color: $twitter 
    &:hover 
      background: $twitter
      border-color: $twitter
      color: #fff
  &.facebook
    border-color: $facebook
    &:hover 
      background: $facebook
      border-color: $facebook
      color: #fff
  &.instagram
    border-color: $instagram
    &:hover 
      background: $instagram
      border-color: $instagram
      color: #fff

.btn-black 
  background: #333 
  color: #fff 
  padding: 10px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

/************ LAYOUT *************/


.wrapper
  width: 100%

.sidebar
  width: 240px
  height: 100vh
  position: fixed
  left: 0
  top: 0
  color: #000
  text-align: center
  z-index: 2
  background: #fff
  transition: 0.3s all

.main
  margin-left: 240px
  width: calc(100% - 240px)
  float: left
  transition: 0.3s all

.main__content
  padding: 100px


#sidebar-toggle 
  display: none

#mobile-logo
  display: none

.audio-player-mobile 
  display: none
  background: #fff
  z-index: 30

footer 
  padding: 20px 0
  ul
    a
      color: #adadad
      &.active 
        color: #333
      &:hover 
        color: #333


/************ SIDEBAR *************/

.sidebar__nav 
  margin-top: 120px
  font-size: 20px
  ul
    a
      color: #adadad
      &.active 
        color: #333
      &:hover 
        color: #333

.audio-player
  position: absolute
  background: #fff
  bottom: 0
  height: 125px
  width: 240px
  .audio-player__track-info, .audio-player__current-mixtape
    font-size: 12px

  .audio-player__track-info
    padding: 0 20px

  .audio-player__controls
    position: absolute
    left: 58px
    bottom: 0px
    .fa-play, .fa-pause
      vertical-align: sub
      font-size: 28px
    .audio-player__share 
      display: none

  #progress-bar
    width: 100%
    background: #e0e0e0
    height: 5px  
    bottom: 0
    position: absolute

  #progress
    height: 3px
    width: 0
    position: absolute
    top: 0px
    z-index: 999
    background: #adadad

  // volume
  .volume
    position: absolute
    left: -4px
    bottom: -30px
    width: 100px !important
    .slider
      z-index: 9
      width: 100px !important
  .fa-volume-up
    cursor: pointer


/************ MAIN CONTENT *************/

.main
  .main__mixtape
    .main__cover
      margin-top: 5%
      width: 45.5%
      position: relative
      img 
        width: 550px
        max-width: 100%
        -webkit-box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)
        -moz-box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)
        box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)
      .cover__description
        position: absolute
        width: 300px  
        height: 300px
        overflow: auto
        margin: auto
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: rgba(255, 255, 255, 1)
        border: 5px solid #333
        color: #333
        visibility: hidden 
        opacity: 0
        transition: 0.3s all
        h1 
          margin-top: 65px
        i 
          font-size: 25px
        a:focus 
          outline: 0
        .attribution
          a 
            border-bottom: 1px solid #333
            transition: 0.3s all
            &:hover 
              border-bottom: 2px solid #333

      &:hover .cover__description
        visibility: visible
        opacity: 1


    .main__tracklist
      margin-top: 5%
      width: 54.5%
      max-height: 550px
      overflow-y: scroll
      overflow: visible
      ol 
        margin-top: 0
        list-style-type: none
        position: relative
        z-index: 1
        > li
          > div
            display: block
          margin-bottom: 17px  
          margin-left: 50px 
          counter-increment: customlistcounter
          position: relative
          &:before 
            content: counter(customlistcounter) " "
            position: absolute
            width: 23px
            height: 19px
            font-size: 12px
            text-align: center
            margin-right: 20px
            margin-top: 10px 
            padding-top: 4px
          &:first-child
            counter-reset: customlistcounter
        li.current-track
          &:before 
            background: #333 
            color: #fff
            border-radius: 20px
        p 
          font-size: 14px

        .main__track-info 
          margin-left: 40px

        .main__track-info
          display: inline-block

        .song, .artist
          cursor: pointer
        .artist 
          color: #adadad

        .main__track-social
          float: right
          margin-right: 40px

          .dropdown-text 
            cursor: pointer
          .dropdown-content a
            color: #333
            text-shadow: 0 1px #fff

          .dropdown-toggle
            font-size: 0
            z-index: 1
            cursor: pointer
            position: absolute
            top: 0
            border: none
            padding: 0
            margin: 0 0 0 1px
            background: transparent
            text-indent: -10px
            height: 34px
            width: 100%
            &:focus
              outline: 0

          .dropdown-content
            list-style-type: none
            position: absolute
            display: none
            right: 38px
            margin: 0
            padding: 10px 0
            background-color: #fff
            border: 2px solid #333
            width: 220px
            z-index: 9999
            top: 28px
            a
              display: block
            li 
              padding: 10px 5px
              .left 
                text-align: center
                width: 40px
              .overflow-hidden 
                text-align: left
              .fa-facebook 
                color: $facebook
              .fa-twitter 
                color: $twitter
              .fa-soundcloud
                color: $soundcloud
              .fa-amazon
                color: #000
            .dropdown-arrow
              background: #fff
              border: 2px solid #333
              border-width: 2px 0 0 2px
              position: absolute
              width: 10px
              height: 10px
              z-index: 1
              -webkit-transform: rotate(45deg)
              transform: rotate(45deg)
              top: -7px
              bottom: auto
              left: auto
              right: 8px


          // .dropdown-toggle
          //   &:focus ~ .dropdown-text
          //     z-index: 999
          //     &:after
          //       border-width: 0 4px 5px 4px
          //       border-color: transparent transparent #555 transparent

          // .dropdown-toggle:focus ~ .dropdown-content
          //   opacity: 1
          //   visibility: visible
          //   top: 42px
          //   z-index: 99999

  

            
  .main__archive-hint
    width: 100%
    font-size: 20px
    text-align: center
    margin-top: 40px
    p 
      font-size: 12px

  .main__archive
    .main__archive-grid
      list-style: none
      padding: 0
      display: flex 
      flex-wrap: wrap 
      align-content: flex-start
      justify-content: space-between
      text-align: center
      width: 100%
      margin-top: 30px
      li
        display: inline-block
        margin: 30px 0
        vertical-align: top
        width: 250px
        > a
          width: 100%
          border: none
          outline: none
          display: block
          position: relative
          transition: all 0.3s ease-in-out
          -moz-transition: all 0.3s ease-in-out
          -webkit-transition: all 0.3s ease-in-out
          -o-transition: all 0.3s ease-in-out
          img
            width: 100%
            border: none
            outline: none
            display: block
            position: relative
            opacity: 0
            transition: all 0.3s ease-in-out
            -moz-transition: all 0.3s ease-in-out
            -webkit-transition: all 0.3s ease-in-out
            -o-transition: all 0.3s ease-in-out
          img[data-original]
            opacity: 1
          img 
            opacity: 1
  
    .mixtapes
      position: relative
      cursor: pointer
      text-align: center
      display: block
      overflow: hidden
      img
        vertical-align: top
      &:after, &:before
        position: absolute
        opacity: 0
        transition: all 0.5s
        left: 0px
      &:after
        content: '\A'
        width: 250px
        height: 250px
        top: 0
        left: 0
        background: rgba(0, 0, 0, 0.3)
      &:before
        content: attr(data-content)
        width: 170px
        color: #333
        background: #fff
        border: 2px solid #333
        z-index: 1
        font-size: 18px
        letter-spacing: 2px
        bottom: calc(50% - 20px)
        left: calc(50% - 85px)
        padding: 5px 10px
        text-align: center
        box-sizing: border-box
        -moz-box-sizing: border-box
      &:hover
        &:after, &:before
          opacity: 1
    ul
      padding-left: 0
      margin-left: 0
    li
      list-style-type: none
      text-align: center
      img
        width: 250px
        height: 250px

/*** COLLECTIONS ***/

.main__collections__archive
  list-style: none
  padding: 0
  margin: 50px auto 0 auto
  text-align: center
  width: 100%
  li
    display: inline-block
    margin: 20px
    vertical-align: top
    width: 300px
    > a
      width: 100%
      border: none
      outline: none
      display: block
      position: relative
      transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      transition: 0.3s all
      -moz-transition: 0.3s all 
      -webkit-transition: 0.3s all
      &:hover 
        -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
      img
        width: 100%
        border: none
        outline: none
        display: block
        position: relative
        transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -webkit-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        -webkit-box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)
        -moz-box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)
        box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94)

/*** ABOUT ***/

.main__about 
  a 
    border-bottom: 1px solid #333
    transition: 0.3s all
    &:hover 
      border-color: #adadad
  .ig-b-
    display: inline-block
    vertical-align: middle
    text-decoration: none
    border-bottom: 0
    transition: none
    margin-left: 10px
    img
      visibility: hidden
    &:hover
      background-position: 0 -60px
    &:active
      background-position: 0 -120px

  .ig-b-v-24
    width: 137px
    height: 24px
    background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
    .ig-b-v-24
      background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png)
      background-size: 160px 178px
.main__subscribe
  margin: 40px 0 0 0
  .subscribe-container
    margin: 0 auto
    width: 355px
    form 
      margin-top: 10px
      border-bottom: 3px solid #fff
      width: 355px
      input 
        color: #333
        border: 2px solid #333
        width: 300px
        font-size: 18px
        padding: 10px
        transition: 0.3s all
        &::-webkit-input-placeholder
          color: #adadad
        &:focus 
          outline: 0
        &.validate 
          border-color: #FF5B5B
      button 
        width: 50px
        background: #333
        color: #fff
        border: none
        vertical-align: bottom
        height: 45px
        font-size: 30px
        -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        transition: 0.3s all
        -moz-transition: 0.3s all 
        -webkit-transition: 0.3s all
        &:focus
          outline: 0
        &:hover
          -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          
.vex.vex-theme-default .vex-content
  border: 0 !important
  background: transparent !important
  text-align: center !important
.vex-overlay 
  background: rgba(255, 255, 255, 0.95) !important
.vex.vex-theme-default .vex-close:before
  color: #333 !important
  font-size: 20px !important
  top: -20px !important
  right: -20px !important
.vex.vex-theme-default .vex-close:hover:before, .vex.vex-theme-default .vex-close:active:before
  background: transparent !important

.main__about__social 
  margin: 50px auto
  text-align: center

.main__contact 
  border-right: 1px solid #adadad

/*** SUBMIT ***/
iframe#typeform-full
  position: absolute
  top: 0px
  height: 100%

/*** FRIENDS ***/

.main__friends 
  h2 
    font-weight: normal
    margin-bottom: 100px
  ul 
    margin-bottom: 100px
    li 
      margin: 50px 0
      h4
        margin: 0
      p 
        margin: 0

/*** TV ***/
.tv-header
  text-align: center
  margin-top: 100px
  img
    width: 50px
    display: inline-block
    margin-right: 10px
  h3 
    display: inline-block
    vertical-align: bottom

.tv-body
  img 
    width: 80%
    margin: 0 auto 
    display: block

.tv-footer
  text-align: center
  margin: 50px 0 200px 0
  img 
    width: 50px
    display: block
    margin: 50px auto 0 auto
    padding-bottom: 50px

.atvImg
  width: 400px
  height: 240px
  margin: 50px auto 0 auto
  border-radius: 5px
  transform-style: preserve-3d
  -webkit-tap-highlight-color: rgba(#000, 0)
  img
    border-radius: 5px
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25)

.atvImg-container
  position: relative
  width: 100%
  height: 100%
  border-radius: 5px
  transition: all 0.2s ease-out
  &.over .atvImg-shadow
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4)

.atvImg-layers
  position: relative
  width: 100%
  height: 100%
  border-radius: 5px
  overflow: hidden
  transform-style: preserve-3d

.atvImg-rendered-layer
  position: absolute
  width: 104%
  height: 104%
  top: -2%
  left: -2%
  background-repeat: no-repeat
  background-position: center
  background-color: transparent
  background-size: cover
  transition: all 0.1s ease-out

.atvImg-shadow
  position: absolute
  top: 5%
  left: 5%
  width: 90%
  height: 90%
  transition: all 0.2s ease-out
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6)

.atvImg-shine
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  border-radius: 5px
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%)

@media screen and (max-width: 550px)
  .tv-header
    margin-bottom: 50px
    p
      display: block
    img 
      display: block 
      margin: 0 auto 
  .atvImg
    width: 200px
    height: 120px

/*** SESSIONS ***/

.videoWrapper
  position: relative
  width: 100%
  height: 0
  background-color: #000

.videoWrapper43
  padding-top: 75%

.videoWrapper169
  padding-top: 56%

.videoIframe
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  background-color: transparent

.videoPoster
  position: absolute
  top: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  cursor: pointer
  border: 0
  outline: none
  background-position: 50% 50%
  background-size: 100% 100%
  background-size: cover
  text-indent: -999em
  overflow: hidden
  opacity: 1
  -webkit-transition: opacity 800ms, height 0s
  -moz-transition: opacity 800ms, height 0s
  transition: opacity 800ms, height 0s
  -webkit-transition-delay: 0s, 0s
  -moz-transition-delay: 0s, 0s
  transition-delay: 0s, 0s
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 80px
    height: 80px
    margin: -40px 0 0 -40px
    border: 5px solid #fff
    border-radius: 100%
    -webkit-transition: border-color 300ms
    -moz-transition: border-color 300ms
    transition: border-color 300ms
  &:after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 0
    height: 0
    margin: -20px 0 0 -10px
    border-left: 40px solid #fff
    border-top: 25px solid transparent
    border-bottom: 25px solid transparent
    -webkit-transition: border-color 300ms
    -moz-transition: border-color 300ms
    transition: border-color 300ms
  &:hover:before, &:focus:before
    border-color: #fff
  &:hover:after, &:focus:after
    border-left-color: #fff

.videoWrapperActive .videoPoster
  opacity: 0
  height: 0
  -webkit-transition-delay: 0s, 800ms
  -moz-transition-delay: 0s, 800ms
  transition-delay: 0s, 800ms

/*** CLUB ***/

.main__club
  h2 
    font-weight: normal
  .club-sign-in 
    text-decoration: underline
  .club-screen
    margin: 25px 0 0 0
    background-image: url("/img/water.gif")
    background-repeat: no-repeat
    background-size: cover
    img 
      margin: 0 auto
      width: 70%
      display: block
      opacity: 0.9
      padding: 100px 0

/*** FOR ARTISTS ***/
.main__for-artists
  margin-top: 80px
  h2 
    font-weight: normal
  .label-services 
    margin-top: 50px
    img 
      width: 150px
      display: block
      margin: 0 auto
    h3 
      text-align: left
    ul 
      text-align: left
      color: #adadad 
      max-width: 430px
      margin: 10px auto
      padding-left: 18px
      li 
        padding: 5px 0
.label-songs
  margin-top: 50px
  list-style: none
  padding: 0
  display: flex 
  flex-wrap: wrap 
  align-content: flex-start
  justify-content: space-between
  text-align: center
  width: 100%

/*** AMBASSADOR STATUS ***/
.ambassador-subscribe-container
  margin: 50px auto
  width: 355px
  form 
    margin-top: 10px
    border-bottom: 3px solid #fff
    width: 355px
    input 
      color: #333
      border: 2px solid #333
      width: 300px
      font-size: 18px
      padding: 10px
      border-radius: 0
      -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      transition: 0.3s all
      -moz-transition: 0.3s all 
      -webkit-transition: 0.3s all 
      &::-webkit-input-placeholder
        color: #adadad
      &:focus 
        outline: 0
        -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
      &.validate 
        border-color: #FF5B5B
    button 
      width: 50px
      background: #333
      color: #fff
      padding: 0
      border: none
      vertical-align: bottom
      height: 45px
      font-size: 30px
      -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
      transition: 0.3s all
      -moz-transition: 0.3s all 
      -webkit-transition: 0.3s all
      &:focus
        outline: 0
      &:hover
        -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)

.ambassador-results 
  visibility: hidden
  transition: 0.3s all
  margin-top: 75px
  h3 
    margin-bottom: 5px
  p 
    margin-top: 5px
    margin-bottom: 40px


/*** MODALS ***/

.modal-overlay-apple
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  background-color: #fff
  opacity: 0
  visibility: hidden
  z-index: 40
  -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -webkit-transition: opacity 0.25s ease, visibility 0.35s linear
  -webkit-transition-delay: 0s, 0s
  transition: opacity 0.25s ease 0s, visibility 0.35s linear
  &.state-show
    opacity: .95
    visibility: visible
    position: fixed
    top: 0
    height: 100%
    -moz-transition-delay: 0s
    -o-transition-delay: 0s
    -webkit-transition-delay: 0s
    transition-delay: 0s
    -moz-transition-duration: 0.2s, 0s
    -o-transition-duration: 0.2s, 0s
    -webkit-transition-duration: 0.2s, 0s
    transition-duration: 0.2s, 0s

.modal-overlay-android
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  background-color: #fff
  opacity: 0
  visibility: hidden
  z-index: 40
  -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -webkit-transition: opacity 0.25s ease, visibility 0.35s linear
  -webkit-transition-delay: 0s, 0s
  transition: opacity 0.25s ease 0s, visibility 0.35s linear
  &.state-show
    opacity: .95
    visibility: visible
    position: fixed
    top: 0
    height: 100%
    -moz-transition-delay: 0s
    -o-transition-delay: 0s
    -webkit-transition-delay: 0s
    transition-delay: 0s
    -moz-transition-duration: 0.2s, 0s
    -o-transition-duration: 0.2s, 0s
    -webkit-transition-duration: 0.2s, 0s
    transition-duration: 0.2s, 0s

.modal-overlay-subscribe
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  background-color: #fff
  opacity: 0
  visibility: hidden
  z-index: 40
  -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear
  -webkit-transition: opacity 0.25s ease, visibility 0.35s linear
  -webkit-transition-delay: 0s, 0s
  transition: opacity 0.25s ease 0s, visibility 0.35s linear
  &.state-show
    opacity: .95
    visibility: visible
    position: fixed
    top: 0
    height: 100%
    -moz-transition-delay: 0s
    -o-transition-delay: 0s
    -webkit-transition-delay: 0s
    transition-delay: 0s
    -moz-transition-duration: 0.2s, 0s
    -o-transition-duration: 0.2s, 0s
    -webkit-transition-duration: 0.2s, 0s
    transition-duration: 0.2s, 0s

.modal-frame-apple
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  z-index: 50
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  -moz-box-align: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  justify-content: center
  -moz-box-pack: center
  -ms-flex-pack: center
  width: 100%
  text-align: center
  visibility: hidden
  &.state-appear
    visibility: visible
    .modal-inset
      -moz-animation: modalComeIn 0.25s ease
      -webkit-animation: modalComeIn 0.25s ease
      animation: modalComeIn 0.25s ease
      visibility: visible
    .modal-body, .close
      opacity: 1
      -moz-transform: translateY(0) scale(1, 1)
      -ms-transform: translateY(0) scale(1, 1)
      -webkit-transform: translateY(0) scale(1, 1)
      transform: translateY(0) scale(1, 1)
  &.state-leave
    visibility: visible
    .modal-inset
      -moz-animation: modalHeadOut 0.35s ease 0.1s
      -webkit-animation: modalHeadOut 0.35s ease 0.1s
      animation: modalHeadOut 0.35s ease 0.1s
      visibility: visible
    .modal-body
      opacity: 0
      -moz-transition-delay: 0s
      -o-transition-delay: 0s
      -webkit-transition-delay: 0s
      transition-delay: 0s
      -moz-transition-duration: 0.35s
      -o-transition-duration: 0.35s
      -webkit-transition-duration: 0.35s
      transition-duration: 0.35s
      -moz-transition-timing-function: ease
      -o-transition-timing-function: ease
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      -moz-transform: translateY(25px)
      -ms-transform: translateY(25px)
      -webkit-transform: translateY(25px)
      transform: translateY(25px)
    .close 
      opacity: 0

.modal-frame-android
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  z-index: 50
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  -moz-box-align: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  justify-content: center
  -moz-box-pack: center
  -ms-flex-pack: center
  width: 100%
  text-align: center
  visibility: hidden
  &.state-appear
    visibility: visible
    .modal-inset
      -moz-animation: modalComeIn 0.25s ease
      -webkit-animation: modalComeIn 0.25s ease
      animation: modalComeIn 0.25s ease
      visibility: visible
    .modal-body, .close
      opacity: 1
      -moz-transform: translateY(0) scale(1, 1)
      -ms-transform: translateY(0) scale(1, 1)
      -webkit-transform: translateY(0) scale(1, 1)
      transform: translateY(0) scale(1, 1)
  &.state-leave
    visibility: visible
    .modal-inset
      -moz-animation: modalHeadOut 0.35s ease 0.1s
      -webkit-animation: modalHeadOut 0.35s ease 0.1s
      animation: modalHeadOut 0.35s ease 0.1s
      visibility: visible
    .modal-body
      opacity: 0
      -moz-transition-delay: 0s
      -o-transition-delay: 0s
      -webkit-transition-delay: 0s
      transition-delay: 0s
      -moz-transition-duration: 0.35s
      -o-transition-duration: 0.35s
      -webkit-transition-duration: 0.35s
      transition-duration: 0.35s
      -moz-transition-timing-function: ease
      -o-transition-timing-function: ease
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      -moz-transform: translateY(25px)
      -ms-transform: translateY(25px)
      -webkit-transform: translateY(25px)
      transform: translateY(25px)
    .close 
      opacity: 0

.modal-frame-subscribe
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  z-index: 50
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  -moz-box-align: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  justify-content: center
  -moz-box-pack: center
  -ms-flex-pack: center
  width: 100%
  text-align: center
  visibility: hidden
  &.state-appear
    visibility: visible
    .modal-inset
      -moz-animation: modalComeIn 0.25s ease
      -webkit-animation: modalComeIn 0.25s ease
      animation: modalComeIn 0.25s ease
      visibility: visible
    .modal-body, .modal-footer, .close, .close-subscribe
      opacity: 1
      -moz-transform: translateY(0) scale(1, 1)
      -ms-transform: translateY(0) scale(1, 1)
      -webkit-transform: translateY(0) scale(1, 1)
      transform: translateY(0) scale(1, 1)

  &.state-leave
    visibility: visible
    .modal-inset
      -moz-animation: modalHeadOut 0.35s ease 0.1s
      -webkit-animation: modalHeadOut 0.35s ease 0.1s
      animation: modalHeadOut 0.35s ease 0.1s
      visibility: visible
    .modal-body, .modal-footer
      opacity: 0
      -moz-transition-delay: 0s
      -o-transition-delay: 0s
      -webkit-transition-delay: 0s
      transition-delay: 0s
      -moz-transition-duration: 0.35s
      -o-transition-duration: 0.35s
      -webkit-transition-duration: 0.35s
      transition-duration: 0.35s
      -moz-transition-timing-function: ease
      -o-transition-timing-function: ease
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      -moz-transform: translateY(25px)
      -ms-transform: translateY(25px)
      -webkit-transform: translateY(25px)
      transform: translateY(25px)
    .close, .close-subscribe
      opacity: 0

@-moz-document url-prefix()
  .modal-frame
    height: calc(100% - 55px)


.modal
  display: block
  vertical-align: middle
  text-align: center

.modal-inset
  position: relative
  padding: 0px
  min-width: 320px
  min-height: 126px
  margin: auto
  visibility: hidden
  -moz-backface-visibility: hidden
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  -moz-transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d
.close
  display: block
  position: absolute
  cursor: pointer
  line-height: 30px
  padding: 10px
  font-size: 30px
  opacity: 0
  color: #333
  right: -70px 
  top: -70px
  &:hover
    opacity: 1
.close-subscribe
  display: block
  position: absolute
  cursor: pointer
  line-height: 30px
  padding: 10px
  font-size: 30px
  opacity: 0
  color: #333
  right: -100px 
  top: -100px
  &:hover
    opacity: 1


.modal-body
  margin: auto
  opacity: 0
  -moz-transform: translateY(0) scale(0.8, 0.8)
  -ms-transform: translateY(0) scale(0.8, 0.8)
  -webkit-transform: translateY(0) scale(0.8, 0.8)
  transform: translateY(0) scale(0.8, 0.8)
  -moz-transition-property: opacity, -moz-transform
  -o-transition-property: opacity, -o-transform
  -webkit-transition-property: opacity, -webkit-transform
  transition-property: opacity, transform
  -moz-transition-duration: 0.25s
  -o-transition-duration: 0.25s
  -webkit-transition-duration: 0.25s
  transition-duration: 0.25s
  -moz-transition-delay: 0.1s
  -o-transition-delay: 0.1s
  -webkit-transition-delay: 0.1s
  transition-delay: 0.1s
  h3
    font-weight: 700
    padding-bottom: 22px
    display: block
    color: #F2594B
    text-align: center
  img 
    width: 140px
  i 
    text-align: center
  .ps
    font-size: 12px
    opacity: .3
  .subscribe-container
    margin: 50px auto
    width: 355px
    form 
      margin-top: 10px
      border-bottom: 3px solid #fff
      width: 355px
      input 
        color: #333
        border: 2px solid #333
        width: 300px
        font-size: 18px
        padding: 10px
        border-radius: 0
        -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        transition: 0.3s all
        -moz-transition: 0.3s all 
        -webkit-transition: 0.3s all 
        &::-webkit-input-placeholder
          color: #adadad
        &:focus 
          outline: 0
          -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
        &.validate 
          border-color: #FF5B5B
      button 
        width: 50px
        background: #333
        color: #fff
        padding: 0
        border: none
        vertical-align: bottom
        height: 45px
        font-size: 30px
        -webkit-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        -moz-box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        box-shadow: 0px 0px 0px 0px rgba(51,51,51,1)
        transition: 0.3s all
        -moz-transition: 0.3s all 
        -webkit-transition: 0.3s all
        &:focus
          outline: 0
        &:hover
          -webkit-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          -moz-box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
          box-shadow: 5px -5px 0px 0px rgba(51,51,51,1)
.modal-footer
  opacity: 0
  -moz-transform: translateY(0) scale(0.8, 0.8)
  -ms-transform: translateY(0) scale(0.8, 0.8)
  -webkit-transform: translateY(0) scale(0.8, 0.8)
  transform: translateY(0) scale(0.8, 0.8)
  -moz-transition-property: opacity, -moz-transform
  -o-transition-property: opacity, -o-transform
  -webkit-transition-property: opacity, -webkit-transform
  transition-property: opacity, transform
  -moz-transition-duration: 0.25s
  -o-transition-duration: 0.25s
  -webkit-transition-duration: 0.25s
  transition-duration: 0.25s
  -moz-transition-delay: 0.1s
  -o-transition-delay: 0.1s
  -webkit-transition-delay: 0.1s
  transition-delay: 0.1s
  .checkbox
    display: flex
    justify-content: center
    input[type='checkbox']
      height: 0
      width: 0
      display:  none
      + label
        position: relative
        display: flex
        margin: .6em 0
        align-items: center
        color: #333
        transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1)
        >
          ins
            position: absolute
            display: block
            bottom: 0
            left: 2em
            height: 0
            width: 100%
            overflow: hidden
            text-decoration: none
            transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1)
            > i
              position: absolute
              bottom: 0
              font-style: normal
              color: #4FC3F7
          span
            display: flex
            justify-content: center
            align-items: center
            margin-right: 1em
            width: 1em
            height: 1em
            background: transparent
            border: 2px solid #333
            border-radius: 0
            cursor: pointer
            transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1)
      // &:focus
      //   + label
      //     color: #fff
      //   + label > span
      //     background: rgba(255, 255, 255, 0.1)
      // + label:hover > span
      //   background: rgba(255, 255, 255, 0.1)
      &:checked + label >
        ins
          height: 100%
        span
          border: 2px solid 333
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1)
          &:before
            content: ""
            position: absolute
            top: .62em
            left: .165em
            border-right: 2px solid transparent
            border-bottom: 2px solid transparent
            transform: rotate(45deg)
            transform-origin: 0% 100%
            animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards

    @keyframes shrink-bounce
      0%
        transform: scale(1)

      33%
        transform: scale(0.85)

      100%
        transform: scale(1)


    @keyframes checkbox-check
      0%
        width: 0
        height: 0
        border-color: #212121
        transform: translate3d(0, 0, 0) rotate(45deg)

      33%
        width: .2em
        height: 0
        transform: translate3d(0, 0, 0) rotate(45deg)

      100%
        width: .2em
        height: .5em
        border-color: #212121
        transform: translate3d(0, -0.5em, 0) rotate(45deg)



@-webkit-keyframes modalComeIn
  0%
    visibility: hidden
    opacity: 0
    -moz-transform: scale(0.8, 0.8)
    -ms-transform: scale(0.8, 0.8)
    -webkit-transform: scale(0.8, 0.8)
    transform: scale(0.8, 0.8)

  65.5%
    -moz-transform: scale(1.03, 1.03)
    -ms-transform: scale(1.03, 1.03)
    -webkit-transform: scale(1.03, 1.03)
    transform: scale(1.03, 1.03)

  100%
    visibility: visible
    opacity: 1
    -moz-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -webkit-transform: scale(1, 1)
    transform: scale(1, 1)


@-moz-keyframes modalComeIn
  0%
    visibility: hidden
    opacity: 0
    -moz-transform: scale(0.8, 0.8)
    -ms-transform: scale(0.8, 0.8)
    -webkit-transform: scale(0.8, 0.8)
    transform: scale(0.8, 0.8)

  65.5%
    -moz-transform: scale(1.03, 1.03)
    -ms-transform: scale(1.03, 1.03)
    -webkit-transform: scale(1.03, 1.03)
    transform: scale(1.03, 1.03)

  100%
    visibility: visible
    opacity: 1
    -moz-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -webkit-transform: scale(1, 1)
    transform: scale(1, 1)


@keyframes modalComeIn
  0%
    visibility: hidden
    opacity: 0
    -moz-transform: scale(0.8, 0.8)
    -ms-transform: scale(0.8, 0.8)
    -webkit-transform: scale(0.8, 0.8)
    transform: scale(0.8, 0.8)

  65.5%
    -moz-transform: scale(1.03, 1.03)
    -ms-transform: scale(1.03, 1.03)
    -webkit-transform: scale(1.03, 1.03)
    transform: scale(1.03, 1.03)

  100%
    visibility: visible
    opacity: 1
    -moz-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -webkit-transform: scale(1, 1)
    transform: scale(1, 1)


@-webkit-keyframes modalHeadOut
  0%
    visibility: visible
    opacity: 1
    -moz-transform: translateY(0) scale(1, 1)
    -ms-transform: translateY(0) scale(1, 1)
    -webkit-transform: translateY(0) scale(1, 1)
    transform: translateY(0) scale(1, 1)

  100%
    visibility: hidden
    opacity: 0
    -moz-transform: translateY(35px) scale(0.97, 0.97)
    -ms-transform: translateY(35px) scale(0.97, 0.97)
    -webkit-transform: translateY(35px) scale(0.97, 0.97)
    transform: translateY(35px) scale(0.97, 0.97)


@-moz-keyframes modalHeadOut
  0%
    visibility: visible
    opacity: 1
    -moz-transform: translateY(0) scale(1, 1)
    -ms-transform: translateY(0) scale(1, 1)
    -webkit-transform: translateY(0) scale(1, 1)
    transform: translateY(0) scale(1, 1)

  100%
    visibility: hidden
    opacity: 0
    -moz-transform: translateY(35px) scale(0.97, 0.97)
    -ms-transform: translateY(35px) scale(0.97, 0.97)
    -webkit-transform: translateY(35px) scale(0.97, 0.97)
    transform: translateY(35px) scale(0.97, 0.97)


@keyframes modalHeadOut
  0%
    visibility: visible
    opacity: 1
    -moz-transform: translateY(0) scale(1, 1)
    -ms-transform: translateY(0) scale(1, 1)
    -webkit-transform: translateY(0) scale(1, 1)
    transform: translateY(0) scale(1, 1)

  100%
    visibility: hidden
    opacity: 0
    -moz-transform: translateY(35px) scale(0.97, 0.97)
    -ms-transform: translateY(35px) scale(0.97, 0.97)
    -webkit-transform: translateY(35px) scale(0.97, 0.97)
    transform: translateY(35px) scale(0.97, 0.97)




.cd-container
  width: 90%
  max-width: 1170px
  margin: 0 auto
  &::after
    content: ''
    display: table
    clear: both

.cd-timeline
  position: relative
  padding: 2em 0
  margin-top: 0
  margin-bottom: 2em
  &::before
    content: ''
    position: absolute
    top: 0
    left: 18px
    height: 100%
    width: 2px
    background: #e0e0e0

@media only screen and (min-width: 1170px)
  .cd-timeline
    margin-top: 0
    margin-bottom: 3em
    &::before
      left: 50%
      margin-left: -1px

.cd-timeline-block
  position: relative
  margin: 2em 0
  &::after
    clear: both
    content: ""
    display: table
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

@media only screen and (min-width: 1170px)
  .cd-timeline-block
    margin: 4em 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

.cd-timeline-img
  position: absolute
  top: 20px
  left: 15px
  width: 10px
  height: 10px
  border-radius: 50%
  border: 1px solid #333
  background: #333


@media only screen and (min-width: 1170px)
  .cd-timeline-img
    width: 10px
    height: 10px
    top: 28px
    left: calc(50% - 5px)
    background: #333
    -webkit-transform: translateZ(0)
    -webkit-backface-visibility: hidden
  .cssanimations .cd-timeline-img
    &.is-hidden
      visibility: hidden
    &.bounce-in
      visibility: visible
      -webkit-animation: cd-bounce-1 0.6s
      -moz-animation: cd-bounce-1 0.6s
      animation: cd-bounce-1 0.6s

@-webkit-keyframes cd-bounce-1
  0%
    opacity: 0
    -webkit-transform: scale(0.5)

  60%
    opacity: 1
    -webkit-transform: scale(1.2)

  100%
    -webkit-transform: scale(1)


@-moz-keyframes cd-bounce-1
  0%
    opacity: 0
    -moz-transform: scale(0.5)

  60%
    opacity: 1
    -moz-transform: scale(1.2)

  100%
    -moz-transform: scale(1)


@keyframes cd-bounce-1
  0%
    opacity: 0
    -webkit-transform: scale(0.5)
    -moz-transform: scale(0.5)
    -ms-transform: scale(0.5)
    -o-transform: scale(0.5)
    transform: scale(0.5)

  60%
    opacity: 1
    -webkit-transform: scale(1.2)
    -moz-transform: scale(1.2)
    -ms-transform: scale(1.2)
    -o-transform: scale(1.2)
    transform: scale(1.2)

  100%
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    transform: scale(1)

.divider 
  height: 100px


.cd-timeline-content
  position: relative
  margin-left: 60px
  background: #ffffff
  padding: 10px
  border: 3px solid #333
  &::after
    clear: both
    content: ""
    display: table
  h2
    font-weight: bold
    margin-top: 0
  p, .cd-read-more, .cd-date
    font-size: 13px
    font-size: 0.8125rem
  .cd-read-more, .cd-date
    display: inline-block
  p
    margin: 1em 0
    line-height: 1.6
  .cd-read-more
    float: right
    padding: .8em 1em
    background: #acb7c0
    color: #ffffff
    border-radius: 0.25em

.no-touch .cd-timeline-content .cd-read-more:hover
  background-color: #bac4cb

.cd-timeline-content
  .cd-date
    float: left
    padding: .8em 0
    opacity: .7
  &::before
    content: ''
    position: absolute
    top: 16px
    right: 100%
    height: 0
    width: 0
    border: 7px solid transparent
    border-right: 7px solid #333

@media only screen and (min-width: 768px)
  .cd-timeline-content
    h2
      font-size: 20px
      font-size: 1.25rem
    p
      font-size: 16px
      font-size: 1rem
    .cd-read-more, .cd-date
      font-size: 14px
      font-size: 0.875rem

@media only screen and (min-width: 1170px)
  .cd-timeline-content
    margin-left: 0
    padding: 1.6em
    width: 45%
    &::before
      top: 24px
      left: 100%
      border-color: transparent
      border-left-color: #333
    .cd-read-more
      float: left
    .cd-date
      position: absolute
      width: 100%
      left: 122%
      top: 6px
      font-size: 16px
      font-size: 1rem
  .cd-timeline-block:nth-child(even) .cd-timeline-content
    float: right
    &::before
      top: 24px
      left: auto
      right: 100%
      border-color: transparent
      border-right-color: #333
    .cd-read-more
      float: right
    .cd-date
      left: auto
      right: 122%
      text-align: right
  .cssanimations .cd-timeline-content
    &.is-hidden
      visibility: hidden
    &.bounce-in
      visibility: visible
      -webkit-animation: cd-bounce-2 0.6s
      -moz-animation: cd-bounce-2 0.6s
      animation: cd-bounce-2 0.6s

@media only screen and (min-width: 1170px)
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in
    -webkit-animation: cd-bounce-2-inverse 0.6s
    -moz-animation: cd-bounce-2-inverse 0.6s
    animation: cd-bounce-2-inverse 0.6s

@-webkit-keyframes cd-bounce-2
  0%
    opacity: 0
    -webkit-transform: translateX(-100px)

  60%
    opacity: 1
    -webkit-transform: translateX(20px)

  100%
    -webkit-transform: translateX(0)


@-moz-keyframes cd-bounce-2
  0%
    opacity: 0
    -moz-transform: translateX(-100px)

  60%
    opacity: 1
    -moz-transform: translateX(20px)

  100%
    -moz-transform: translateX(0)


@keyframes cd-bounce-2
  0%
    opacity: 0
    -webkit-transform: translateX(-100px)
    -moz-transform: translateX(-100px)
    -ms-transform: translateX(-100px)
    -o-transform: translateX(-100px)
    transform: translateX(-100px)

  60%
    opacity: 1
    -webkit-transform: translateX(20px)
    -moz-transform: translateX(20px)
    -ms-transform: translateX(20px)
    -o-transform: translateX(20px)
    transform: translateX(20px)

  100%
    -webkit-transform: translateX(0)
    -moz-transform: translateX(0)
    -ms-transform: translateX(0)
    -o-transform: translateX(0)
    transform: translateX(0)


@-webkit-keyframes cd-bounce-2-inverse
  0%
    opacity: 0
    -webkit-transform: translateX(100px)

  60%
    opacity: 1
    -webkit-transform: translateX(-20px)

  100%
    -webkit-transform: translateX(0)


@-moz-keyframes cd-bounce-2-inverse
  0%
    opacity: 0
    -moz-transform: translateX(100px)

  60%
    opacity: 1
    -moz-transform: translateX(-20px)

  100%
    -moz-transform: translateX(0)


@keyframes cd-bounce-2-inverse
  0%
    opacity: 0
    -webkit-transform: translateX(100px)
    -moz-transform: translateX(100px)
    -ms-transform: translateX(100px)
    -o-transform: translateX(100px)
    transform: translateX(100px)

  60%
    opacity: 1
    -webkit-transform: translateX(-20px)
    -moz-transform: translateX(-20px)
    -ms-transform: translateX(-20px)
    -o-transform: translateX(-20px)
    transform: translateX(-20px)

  100%
    -webkit-transform: translateX(0)
    -moz-transform: translateX(0)
    -ms-transform: translateX(0)
    -o-transform: translateX(0)
    transform: translateX(0)


.main__coachella 
  img 
    width: 40%
    margin: 30px auto
  h3 
    text-align: center
    margin-bottom: 100px
  h1 
    font-size: 1.5rem
    background: #333
    color: #fff
    width: 40%
    padding: 10px
    margin: 0 auto
  .share-coachella 
    margin: 100px auto
    .btn 
      margin: 20px 10px 20px 10px
      &.facebook 
        background: $facebook
        border: 0
      &.twitter 
        background: $twitter
        border: 0


@media screen and (max-width: 768px)
  .main__coachella 
    h1
      width: 90%
      font-size: 20px

/** RESPONSIVE STUFF **/

@media screen and (max-width: 768px)
  .sidebar
    left: -240px
    .audio-player 
      display: none
  .main 
    margin-left: 0
    width: 100%
    .main__about__social
      margin-top: 30px
      .btn-social
        display: block 
        margin: 20px auto
        float: none
        text-align: center
        width: 260px
        padding: 10px 40px
    .main__for-artists
      .label-services 
        margin-top: 50px
        .label-service-icon
          float: none
          margin: 0 auto
        .label-service-info
          padding-top: 0
          h3
            text-align: center
          ul 
            margin: 10px auto
            width: 80%
        .sm-col
          float: none

  #mobile-logo 
    position: absolute
    display: block
    width: 50px 
    top: 15px 
    left: calc(50% - 25px)
    opacity: 1 
    transition: 0.3s
  #sidebar-label
    position: absolute
    top: 20px
    left: 20px
    font-size: 30px
    transition: 0.3s all
    img 
      width: 31px
      cursor: pointer
  #sidebar-toggle:checked ~ 
    .sidebar
      left: 0px
    .main 
      margin-left: 240px
      width: calc(100% - 240px)
    #sidebar-label
      left: 250px
    #mobile-logo 
      opacity: 0
      left: 400px
    .main 
      .main__mixtape
        .main__cover 
          img 
            min-width: 300px
        .main__tracklist
          min-width: 300px
      .main__about 
        min-width: 300px
      .main__subscribe 
        min-width: 300px

  .main 
    .main__mixtape 
      .main__cover 
        margin: 80px auto 0 auto
        img 
          max-width: 90%
      .main__tracklist 
        ol 
          .main__track-social
            margin-right: 10px
            .dropdown-content 
              right: 8px
  .audio-player-mobile 
    display: block 
    position: fixed
    width: 100%
    bottom: 0
    -webkit-box-shadow: 0px -2px 12px -3px rgba(51,51,51,0.35)
    -moz-box-shadow: 0px -2px 12px -3px rgba(51,51,51,0.35)
    box-shadow: 0px -2px 12px -3px rgba(51,51,51,0.35)
    p 
      font-size: 14px
    .audio-player__controls
      font-size: 25px
      .fa-volume-up
        visibility: hidden
      .audio-player__share 
        display: inline-block
  .main.minimal
    margin-top: 50px
  .audio-player-mobile.minimal-player
    top: 0
    height: 110px
    -webkit-box-shadow: 0px 2px 12px 3px rgba(51,51,51,0.35)
    -moz-box-shadow: 0px 2px 12px 3px rgba(51,51,51,0.35)
    box-shadow: 0px 2px 12px 3px rgba(51,51,51,0.35)
  .close-subscribe 
    left: calc(50% - 25px)
    top: -100px
    border: 1px solid #333
    border-radius: 30px
    width: 50px
    transition: 0.3s all
    &:hover 
      color: #fff 
      background: #333

  footer 
    margin-bottom: 150px
    ul
      li
        display: block !important
        margin: 20px auto

@media screen and (max-width: 420px)
  .modal-inset 
    font-size: 80%
    .modal-body 
      .subscribe-container
        width: 250px
        form 
          width: 250px
          input 
            width: 180px 
            font-size: 14px
            height: 45px
          button 
            i 
              padding: 0
  .main__subscribe 
    .subscribe-container
      width: 260px
      form 
        width: 260px
        input 
          width: 205px 
          font-size: 14px
          height: 45px
        button 
          i 
            padding: 0

@media screen and (max-width: 1235px)   
  .main 
    .main__mixtape 
      .main__cover 
        margin-top: 100px
        width: 90%
        float: none
        img 
          display: block
          margin: 0 auto
      .main__tracklist
        margin-top: 6%
        width: 90%
        clear: both

@media screen and (min-width: 768px) and (max-width: 1235px)
  .main 
    .main__mixtape
      .main__cover 
        margin-top: 50px

@media screen and (max-width: 1100px)
  .main
    .main__about 
      padding: 30px
      margin: 80px 0 0 0
    .main__subscribe 
      margin: 50px auto
    .main__club, .main__for-artists
      margin: 100px 0 0 0
    .main__contact, .main__apps, .main__press
      margin-top: 25px
    .main__collections__archive
      margin-top: 80px
    .main__mixtape
      .main__cover
        h1 
          margin-top: 28px
        .mixtape-play
          position: absolute 
          top: 50%
          left: 50%
          font-size: 60px
          color: #fff
          z-index: 999
      .main__tracklist
        ol 
          > li 
            margin-bottom: 25px  
            margin-left: 00px 
            &:before 
              width: 23px
              height: 19px
              font-size: 12px
          p 
            font-size: 14px
    .main__archive
      .main__archive-grid
        justify-content: center
        li 
          margin: 20px

@media screen and (min-width: 1236px)
  .main 
    .main__mixtape 
      .main__cover 
        width: 550px
      .main__tracklist 
        width: calc(100% - 550px)
        
        ol 
          li 
            position: relative

@media screen and (min-width: 2300px)
  .main 
    .main__mixtape
      width: 1500px
      margin: 40px auto 0 auto
      .main__cover
        width: 800px
        img 
          width: 800px
      .main__tracklist 
        width: 700px
        ol > li
          margin-bottom: 31px
          .main__track-info
            p 
              font-size: 120%

@import "bass"