= partial 'partials/sidebar'

.main 
     .main__about.col-8.ml4.mt3.p4
          %p 
               Noon Pacific™ is a weekly mixtape of the best songs handpicked from the best music blogs, delivered to your inbox every Monday at Noon (Pacific Time).
          %p
               Curated by <a href="http://clarkdinnison.com" target="_blank">Clark Dinnison</a> in Newport Beach, California.
          %p
               Built with <a href="whitelabel.cool" target="_blank">White Label</a>.

     / INSERT SUBSCRIBE HERE
     / INSERT SHARE AND FOLLOW STUFF

     .clearfix
          .main__contact.sm-col.sm-col-12.md-col-6
               %p.center  CONTACT
               %ul.list-reset.center
                    %li
                         %a.btn.btn-outline.my2{:href => "#"} Submit a Song
                    %li 
                         %a.btn.btn-outline.my2{:href => "#"} Partnerships
                    %li  
                         %a.btn.btn-outline.my2{:href => "#"} Become an Ambassador

          .main__apps.sm-col.sm-col-12.md-col-6
               %p.center  APPS
               %ul.list-reset.center
                    %li
                         %a.btn.btn-outline.my2{:href => "#"} 
                              %i.fa.fa-apple 
                              Download iOS
                    %li 
                         %a.btn.btn-outline.my2{:href => "#"} 
                              %i.fa.fa-android
                              Download Android
                    %li  
                         %a.btn.btn-outline.my2{:href => "#"} 
                              Available on Apple TV


