%section.heading
     %img{alt: "Noon Pacific Studio", src: "#{image_path("noonpacific.svg")}"}
     %h1
          NOON PACIFIC STUDIO
     %h3
          We build apps + experiences people love
%section.portfolio
     .container
          .clients
               %ul
                    %li
                         %a{href: "#", target: "_blank"} noon pacific
                    %li
                         %a{href: "#", target: "_blank"} colormyx
                    %li
                         %a{href: "#", target: "_blank"} daily ui
                    %li
                         %a{href: "#", target: "_blank"} four week startup
                    %li
                         %a{href: "#", target: "_blank"} nom nom
          .mockups
               = partial 'mockup'
%section.cta
     %a.contact{href: "#", target: "_blank"} Let's Talk

%section.footer
     %img{alt: "NP Studio Mockups", src: "#{image_path("madeinca.svg")}"}