%section.heading
     %img.animated.fadeIn{alt: "Noon Pacific Studio", src: "#{image_path("noonpacific.svg")}"}
     %h1.animated.fadeInUp
          NOON PACIFIC STUDIO
     %h3.animated.fadeInUp
          We build apps + experiences people love
%section.portfolio
     .container
          .clients
               %ul
                    %li.animated.fadeInUp
                         %a#project-noon-pacific{href: "http://noonpacific.com", target: "_blank"} noon pacific
                    %li.animated.fadeInUp
                         %a#project-color-myx{href: "https://itunes.apple.com/us/app/color-myx/id937256071?mt=8", target: "_blank"} color myx
                    %li.animated.fadeInUp
                         %a#project-daily-ui{href: "http://dailyui.co", target: "_blank"} daily ui
          .mockups
               = partial 'mockup'
%section.cta
     %a.contact.hvr-outline-out.animated.fadeIn{href: "mailto:clark@noonpacific.com", target: "_blank"} Let's Talk

%section.footer
     %img{alt: "NP Studio Mockups", src: "#{image_path("madeinca.svg")}"}