= partial 'partials/sidebar'

.main
     
     %ng-view
             
     .main__archive-hint
          %p.m0.grey archive
          %i.fa.fa-angle-down.grey
     .main__archive
          %ul.main__archive-grid{"ng-controller" => "MixListCtrl"}
               %li.currentMix.mix{"ng-repeat" => "mix in Mix.Mixes.array"}
                    %a{"data-content" => "{{mix.name}}", :href => "#/mix/{{mix.id}}", "ng-class" => "{'mixtapes': true, 'playing': mix.id === Mix.PlayingMixID}"}
                         %img.lazy{:alt => "{{mix.name}}", "data-original" => "{{mix.cover_large}}?h=250&w=250", :height => "250", :src => "/img/grey.jpg", :width => "250"}