= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/app-modal'

%iframe#typeform-full{:frameborder => "0", :height => "100%", :src => "https://noonpacific.typeform.com/to/LCTMP9", :width => "100%"}
  
%script{:src => "https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js", :type => "text/javascript"}